@model TESTAPP.Models.Home.IndexViewModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Best Friend Vet</h1>
    @*<h3>@ViewBag.Name</h3>*@
    <p>All about your pets is here!</p>
    @*<p>@Model.Year</p>*@
</div>

<div class="jumbotron">
    <h1 class="display-3">Trust the professionals</h1>
    <p class="lead">We take care of your best friend.</p>
    <hr class="my-4">
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
</div>
<div class="text-center">
    <h2>SERVICES</h2>
    <p>At Best Friend Vet you will find a highly qualified team of professionals committed to providing you with high quality medical, surgical and preventative care for your pet.</p>
</div>

    <div class="card-deck">
        <div class="card">
            <img class="card-img-top" src="http://www.vetkonsult.net/images/servicesIcon/9.jpg" alt="pet shop">
            <div class="card-body">
                <h5 class="card-title">Pet shop</h5>
                <p class="card-text">We are pleased to offer you variety and quality</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="http://www.vetkonsult.net/images/servicesIcon/18.jpg" alt="Orthopedics">
            <div class="card-body">
                <h5 class="card-title">Orthopedics</h5>
                <p class="card-text">The courage to do the impossible</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="http://www.vetkonsult.net/images/servicesIcon/11.jpg" alt="radiology">
            <div class="card-body">
                <h5 class="card-title">Radiology</h5>
                <p class="card-text">Digital X-ray diagnostics - the right solution</p>
            </div>
        </div>
    </div>

