@model TESTAPP.Models.Home.IndexViewModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Best Friend Vet</h1>
    @*<h3>@ViewBag.Name</h3>*@
    <p>All about your pets is here!</p>
    <p>@Model.Year</p>
</div>
