@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Best Friend Vet is noncopyrighted opensorcse project. The project is confidential and can be used by anyone without permission. It is made for the purpose of designation and practical project.</p>
