@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Best Friend Vet (BFV) Project</h5>
        <p class="card-text">
            BFV is a project aimed at improving small and medium-sized businesses involved in pet care. All the project was done for the purpose of training and practical training at the university. It can be used by anyone for any purpose.
        </p>
        <p class="card-text"><b>Note: Please do not judge the quality of my work I am still learning.</b></p>
    </div>
    <img class="card-img-bottom" src="https://myhendersonvillevet.com/wp-content/uploads/2016/04/134.png" alt="Card image cap">
</div>

@*<p>Best Friend Vet is noncopyrighted opensorcse project. The project is confidential and can be used by anyone without permission. It is made for the purpose of designation and practical project.</p>*@
