
@{
    ViewData["Title"] = "Contact";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Best Friend Vet<br />
    Veliko Tarnovo, General Gurko 18<br />
    Phone: +359 988 716 362
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a>
</address>

